    server {
        listen       80;
        server_name  localhost;


        access_log  /var/log/nginx/converter.access.log;

        location =/ {
            rewrite / /converter/ last;
        }
        location /favicon.ico {
            return 404;
        }

        #error_page  404              /404.html;

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /home/converter/nginx/html;
        }

        location /converter {
            proxy_pass   http://127.0.0.1:8080;
            proxy_read_timeout 250;
        }
        
        location /converted {
#            internal;
            alias /home/converter/files;
        }

    }
