A:link {text-decoration: none; color:#000000;}
A:visited {text-decoration: none; color:#000000;}
A:active {text-decoration: none; color:#000000;}
A:hover {text-decoration: underline;color:#062f6f;}
FORM {
margin-top: 0px;
padding-top: 0px;
margin-bottom: 0px;
padding-bottom: 0px;
padding-right: 0px}

UL, OL, BR, H3, TABLE {
margin-top: 0px;
padding-top: 0px;
margin-bottom: 0px;
padding-bottom: 0px;
}


BODY,TD {font-family:verdana,arial,san-serif;font-size:13px;color:#000000;}
